:root {
	/* Цвета */
	--main-bg-color: #e4e9ed;
	--player-bg-color: #eff3f5;
	--primary-color: #FF834D;

	/* Размеры */
	--elementborder-radius: 20px;
	--player-border-radius: 40px;
	--progress-bar-height: 10px;

	/* Анимации */
	--default-transition-duration: 0.3s;
	--default-transition-timing-function: ease-in-out;
	--default-transition: var(--default-transition-duration) var(--default-transition-timing-function);
	--linear-transition: var(--default-transition-duration) linear;

	/* Размеры элементов */
	--icon-size: 26px;
}

/* Общие стили */
.pointer {
	cursor: pointer;
}

/* Комбинируем селекторы для flex-center (полное центрирование) */
.akim, .akimPlayer, .speedControl {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Общий стиль для прогресса и регулятора громкости */
.progress-regulator {
	background: var(--primary-color);
	border-radius: 4px;
	height: calc(100% - 4px);
	width: 0;
	padding: 2px 2px;
}

/* Akim Container */
.akim {
	height: 100vh;
	width: 100%;
	background: var(--main-bg-color);
}

/* Akim Player */
.akimPlayer {
	background: var(--player-bg-color);
	border-radius: var(--player-border-radius);
	max-width: 1160px;
	width: 100%;
	padding: 10px 20px;
	gap: 20px;
}

.akimPlayer .btn {
	border-radius: var(--elementborder-radius);
	height: auto;
	display: flex;
}

/* Иконки */
.akim img {
	width: var(--icon-size);
	padding: 5px;
}

/* Кнопки управления */
.tbuttons, .tVol, .RPanel {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

/* Эффект бордера */
.akim .border {
	border: transparent 2px solid;
	transition: border var(--default-transition);
}

.akim .border:hover {
	border: var(--primary-color) 2px solid;
}

/* Прогресс бар */
.progControl {
	background: var(--main-bg-color);
	border-radius: 5px;
	width: 100%;
	height: var(--progress-bar-height);
	display: flex;
	align-items: center;
}

/* Speed Control */
.speedControl {
	width: 50px;
}

.speedBtn {
	width: 50px;
	text-align: center;
}

/* Время и кнопки скорости */
.timeAudio, .speedBtn {
	padding: 0 5px 2px 5px;
}

/* Volume Control */
.tVol {
	display: flex;
	align-items: center;
}

/* Volume Control */
.volControl {
	background: var(--main-bg-color);
	border-radius: 5px;
	width: 80px;
	height: var(--progress-bar-height);
	display: flex;
	align-items: center;
}

.volReg, .tprogress {
	transition: all var(--linear-transition);
	background: var(--primary-color);
	border-radius: 4px;
	height: 4px;
	width: 0;
	padding: 2px 2px;
}